@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

:root {
  --primary-color: #e53935;   /* Mexican red */
  --secondary-color: #fbc02d; /* Mexican yellow */
}

* {
  box-sizing: border-box;
}

body {
  height : 100vh;
  margin: 0;
  font-family: 'Chango', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height :15vh;
}