.contact-container
 {
  display: flex;
  flex-direction: column;
  width: 40vw;
  font-family: Arial, sans-serif;
  border-radius: 1%;
  padding: 1rem;
   margin: 5% auto;
  
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #c0392b;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  padding: 12px;
  background-color: #e67e22;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #d35400;
}
@media (max-width: 600px) {
  .contact-container {
    width: 90%;
    margin-top: 10%;
    border-radius: 12px;
    padding: 15px;
  }

  .contact-form input,
  .contact-form textarea,
  .contact-form select {
    font-size: 14px;
    padding: 8px;
  }

  .contact-form button {
    font-size: 14px;
    padding: 10px;
  }
}
.welcome-note {
  text-align: center;
  margin-top: 5vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}
.welcome-note p {
  font-size: 1.5rem;
} .fillOut {
  font-size: 1.2rem;
  margin-top: -1vh;
  color: #ff0000;
}